@*@model HomeViewModel*@

<div>

    <p style="background-color:aquamarine;font-weight:bold;font-size:30px;text-align:center">
        The premier online pharmacy in Bangladesh
    </p>
    <p style="background-color:azure;font-size:20px">
        PharmaQuik is the premier online pharmacy in Bangladesh where napa extend, diovan 160, napa extra, natrilix sr, losectil, huggies diapers, mamy poko and many more products are available. PharmaQuik.com specializing in delivery of quality medicines, health, personal care and beauty products at affordable prices direct to customers in Whole Bangladesh.

    </p>

</div>
